.code {
  background-color: #457BB7;
}
.networkCode {
  background-color: #C56A33;
}

.codeValue {
  background-color: #DBA42D;
}

.identifier {
  background-color: #C27FAB;
}

.sectionBreak {
  background-color: #eeeeff;
}

.uid {
  background-color: #eeeeee;
  color: #bbbbbb;
}

.utterance {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}

.utterance + .utterance {
  margin-top: -1px;
}

.context {
  color: #bbbbbb;
}
