.code {
  background-color: #f4d142;
}

.identifier {
  background-color: #aaaaff;
}

.sectionBreak {
  background-color: #eeeeff;
}

.uid {
  background-color: #eeeeee;
  color: #bbbbbb;
}

.utterance {
  border-bottom: 0.5px dotted black;
}
